@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

body {
  background: #d4d4d4;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 500;
}

h4 {
  margin: 0;
  font-weight: 400;
}

p {
  margin: 0;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.wrapper {
  width: 75%;
  margin: 20px auto;
}

.wrapper .container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 4px 8px #0000002a;
  margin-bottom: 17px;
}

.wrapper .container .divider {
  border: 1px solid #d3d3d3;
}

.wrapper .container .personal-data {
  background: #38b2ac;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 35px;
  border-radius: 5px 5px 0 0;
  gap: 20px;
  text-align: center;
}

.wrapper .container .personal-data img {
  border-radius: 50%;
}

.wrapper .container .personal-data .avatar {
  width: 200px;
  height: auto;
}

.wrapper .container .personal-data .links .social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.wrapper .container .experience {
  padding: 20px;
}

.wrapper .container .experience .title {
  padding: 25px 15px;
}

.wrapper .container .experience .box {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.wrapper .container .experience .box .icon-text {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.wrapper .container .experience .box header {
  max-width: 30%;
}

.wrapper .container .experience .box p {
  max-width: 60%;
}

.wrapper .container .skills-education {
  display: grid;
  grid-template-columns: 1fr 0fr 1fr;
}

.wrapper .container .skills-education .skills {
  padding: 20px 35px;
}

.wrapper .container .skills-education .skills .title {
  margin-bottom: 40px;
  text-align: center;
}

.wrapper .container .skills-education .skills .skill {
  margin: 7.5px 0;
  width: fit-content;
}

.wrapper .container .skills-education .skills .skill h4 {
  background-color: #38b2ac;
  color: #ffffff;
  padding: 2px 4px;
  border-radius: 4px;
}

.wrapper .container .skills-education .vertical {
  margin: 25px 0;
}

.wrapper .container .skills-education .education {
  padding: 20px 35px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper .container .skills-education .education .title {
  margin-bottom: 20px;
  text-align: center;
}

.wrapper .container .skills-education .education .box .icon-text {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

@media (max-width: 1140px) {
  .wrapper .container .personal-data p, a {
    font-size: small;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    margin: 0;
  }

  .wrapper .container {
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
  }
  
  .wrapper .container .personal-data {
    border-radius: 0;
    padding: 20px;
    flex-direction: column;
  }

  .wrapper .container .personal-data .links .social {
    font-size: small;
  }

  .wrapper .container .experience .title {
    padding: 0;
    margin-bottom: 15px;
    text-align: center;
  }

  .wrapper .container .experience .box {
    flex-direction: column;
    padding: 15px 0;
  }

  .wrapper .container .experience .box header {
    max-width: 100%;
  }

  .wrapper .container .experience .box p {
    max-width: 100%;
  }

  .wrapper .container .skills-education {
    grid-template-columns: 1fr 0fr;
  }

  .wrapper .container .skills-education .skills {
    padding: 0 20px;
  }

  .wrapper .container .skills-education .skills .title {
    margin-bottom: 20px;
  }

  .wrapper .container .skills-education .education {
    padding: 10px 20px;
  }

  .wrapper .container .skills-education .education .title {
    margin-bottom: 0;
  }
}